@model Bennington.Cms.Models.IconMenuViewModel

<ul class="menu">
	@foreach (var menuItem in Model.Items) {
		<li><a href="@menuItem.Url" title="@menuItem.Name"><img src="@Url.Content("~")@menuItem.IconUrl" alt="@menuItem.Name" /></a></li>
	}
</ul>

