@model Bennington.Cms.Models.IconMenuViewModel

<ul class="menu">
	@foreach (var menuItem in Model.Items) {
		<li><a href="@menuItem.Url"><img src="@menuItem.IconUrl" alt="@menuItem.Name" /></a></li>
	}
</ul>

