@using PagedList
@using PagedList.Mvc
@model Bennington.Cms.Models.GridViewModel

@section currentUser {
    <ul class="current-user-items">
        <li>Welcome, Young Man</li>
        <li>Kansas City Institute of Bacon</li>
        <li><a href="?Logout=1">Logout</a></li>
    </ul>
}

<div id="content_container" style="display: block;">
    @{Html.RenderPartial("~/Views/ListDetail/Header.cshtml", Model);}
    
                    <table cellpadding="0" cellspacing="0" class="data_table" id="data_table">
                        @{Html.RenderPartial("~/Views/ListDetail/PagerHeaders.cshtml", Model);}
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                Html.RenderPartial("~/Views/ListDetail/SingleRow.cshtml", item);
                            }
                        </tbody>
                    </table>
        @{Html.RenderPartial("~/Views/ListDetail/Footer.cshtml", Model);}
</div>
