@using Bennington.Core.List
@model ListViewModel

<div class="title">
    <h2>@Model.Title</h2>
    @if (!string.IsNullOrEmpty(Model.Subtitle))
    {
        <p class="meta">@Model.Subtitle</p>
    }
</div>
