@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Bennington.ContentTree.Providers.ToolLinkNodeProvider.Models.ModifyViewModel


   @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), "ToolLinkProviderNode", FormMethod.Post, new { Id = "form" })){

	<div class="crudFormContainer">

		@Html.EditorFor(x => x.ToolLinkInputModel)

		<div class="commandButtonContainer">
			<input type="button" class="button" value="Cancel" onclick="window.location='@Url.Action("Index", "ContentTree")';" />
			<input type="button" class="button" value="Save" onclick="$('#ToolLinkInputModel_FormAction').val(this.value);$('#form').submit();" />
			@if (ViewContext.RouteData.Values["action"].ToString() == "Modify") 
            {
            <input type="button" class="button important" value="Delete" onclick="if (confirm('Are you sure you want to delete this item?')) { window.location='@Url.Action("Delete", "ToolLinkProviderNode", new { treeNodeId = Model.ToolLinkInputModel.TreeNodeId })'; }" />
            }
		</div>
	</div>

	}