<appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="Bennington.LocalWorkingFolder" value="C:\_Application\Bennington\localWorkingFolder\"/>
    <add key="Bennington.ContentTree.Providers.ContentNodeProvider.FileUploadPath" value="C:\_Application\Bennington\localWorkingFolder\Bennington.ContentTree.Providers.ContentNodeProvider.FileUploads\"/>
    <add key="Bennington.ContentTree.Providers.ContentNodeProvider.DraftFileUploadPath" value="C:\_Application\Bennington\localWorkingFolder\Bennington.ContentTree.Providers.ContentNodeProvider.DraftFileUploads\"/>
    <add key="Bennington.ContentTree.Providers.ContentNodeProvider.PublishedVersionFileUploadPath" value="C:\_Application\Bennington\localWorkingFolder\Bennington.ContentTree.Providers.ContentNodeProvider.PublishedVersionFileUploads\"/>
</appSettings>