@model Bennington.ContentTree.Engines.Homepage.Models.HomepageIndexViewModel
@using System.Web.Mvc.Html

@section TitleContent {

    Home Page

}



<div style="border:solid 1px #696969">

   <h1>@Model.Header</h1>

   <div>@Model.Body</div>

</div>



