@using Bennington.ContentTree.Providers.ContentNodeProvider.Models
@using System.Web.Mvc
@using System.Security.Policy

<h1>@Model.Header</h1>

@Model.HeaderImage

<div>@Html.Raw(Model.Body)</div>


