<appSettings>
	<!--<add key="BenningtonDataPath" value="C:\_Application\Bennington\localWorkFolder2"/>-->
	<add key="Bennington.ContentTree.Providers.ContentNodeProvider.FileUploadPath" value="C:\_Application\Bennington\localWorkingFolder\Bennington.ContentTree.Providers.ContentNodeProvider.FileUploads\"/>
	<add key="Bennington.ContentTree.Providers.ContentNodeProvider.DraftFileUploadPath" value="C:\_Application\Bennington\localWorkingFolder\Bennington.ContentTree.Providers.ContentNodeProvider.DraftFileUploads\"/>
	<add key="Bennington.ContentTree.Providers.ContentNodeProvider.PublishedVersionFileUploadPath" value="C:\_Application\Bennington\localWorkingFolder\Bennington.ContentTree.Providers.ContentNodeProvider.PublishedVersionFileUploads\"/>
</appSettings>