<appSettings>
	<add key="PathToContentTreeXmlFile" value="C:\_Application\Paragon\localWorkFolder\ContentTree.xml"/>
	<add key="PathToContentNodeProviderPublishedVersionXmlFile" 
		 value="C:\_Application\Paragon\localWorkFolder\ContentNodeProviderPublishedVersion.xml"/>
	<add key="PathToContentNodeProviderDraftXmlFile"
		 value="C:\_Application\Paragon\localWorkFolder\ContentNodeProviderDraft.xml"/>
	<add key="PathToSectionNodeProviderXmlFile"
		 value="C:\_Application\Paragon\localWorkFolder\SectionNodeProvider.xml"/>
</appSettings>