<appSettings>
	<add key="PathToContentTreeXmlFile" value="C:\HostingSpaces\ferris\ferrislucas.net\userData\ContentTree.xml"/>

	<add key="PathToContentNodeProviderPublishedVersionXmlFile"
		 value="C:\HostingSpaces\ferris\ferrislucas.net\userData\ContentNodeProviderPublishedVersion.xml"/>

	<add key="PathToContentNodeProviderDraftXmlFile"
		 value="C:\HostingSpaces\ferris\ferrislucas.net\userData\ContentNodeProviderDraft.xml"/>

	<add key="PathToSectionNodeProviderXmlFile"
		 value="C:\HostingSpaces\ferris\ferrislucas.net\userData\SectionNodeProvider.xml"/>
</appSettings>