<appSettings>
	<add key="BenningtonDataPath" value="C:\HostingSpaces\ferris\ferrislucas.net\userData"/>
	<add key="Bennington.ContentTree.Providers.ContentNodeProvider.FileUploadPath" value="C:\HostingSpaces\ferris\ferrislucas.net\userData\Bennington.ContentTree.Providers.ContentNodeProvider.FileUploads\"/>
	
	<add key="Bennington.ContentTree.Providers.ContentNodeProvider.DraftFileUploadPath" value="C:\HostingSpaces\ferris\ferrislucas.net\userData\Bennington.ContentTree.Providers.ContentNodeProvider.DraftFileUploads\"/>
	<add key="Bennington.ContentTree.Providers.ContentNodeProvider.PublishedVersionFileUploadPath" value="C:\HostingSpaces\ferris\ferrislucas.net\userData\Bennington.ContentTree.Providers.ContentNodeProvider.PublishedVersionFileUploads\"/>
</appSettings>