<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	<!--<add name="Paragon.ContentTree" connectionString="Data Source=np:\\DEGWLUCASF1\sqlexpress\pipe\MSSQL$SQL2005\sql\query;Initial Catalog=BEAMLAND_develop;Integrated Security=True" />-->
	<!--<add name="Paragon.ContentTreeNodeProvider" connectionString="Data Source=np:\\DEGWLUCASF1\sqlexpress\pipe\MSSQL$SQL2005\sql\query;Initial Catalog=BEAMLAND_develop;Integrated Security=True" />-->
	<add name="Paragon.ContentTree" connectionString="Data Source=.\sqlexpress;Initial Catalog=DEGSMS4;Integrated Security=True" />
	<add name="Paragon.ContentTreeNodeProvider" connectionString="Data Source=.\sqlexpress;Initial Catalog=DEGSMS4;Integrated Security=True" />
	<add name="Entities" connectionString="metadata=res://*/Models.ObjectModel.csdl|res://*/Models.ObjectModel.ssdl|res://*/Models.ObjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=DEGSMS4;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
