<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paragon.ContentTreeSectionNodeProvider.Properties.Settings.ParagonConnectionString"
            connectionString="Data Source=DEGWLUCASF1\sqlexpress;Initial Catalog=Paragon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>