<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bennington.Core.Properties.Settings.BenningtonConnectionString" connectionString="Data Source=DEGWLUCASF1\sqlexpress;Initial Catalog=Bennington;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
