@model Bennington.Cms.Models.MenuSystem.SubMenuViewModel
@if(Model.Items.Count() > 0) 
{
<div class="clearfix" id="submenucontainer">
    <ul class="menu clearfix file_subnav">
        @Html.DisplayFor(x => x.Items)
    </ul>
</div>
}
