@import url(Reset.css);

body { 
    background: #c9d7de url(Canvas/Body-Bg.gif) top repeat-x;
}
#canvas { width: 915px; margin: 0 auto; }
.contentNodeProviderForm { margin-top:60px;}

#header #title 
{ 
    height: 37px;
    padding: 15px 0 10px 0; 
    float: left; 
}
#header a { color: #fff; }
#header h1 
{
    margin: 0;
    font-size: 1em;
}


#header #current-user  
{
    color: #bdd6e4;
     float: right; 
     clear: right; 
     font-size: .9em; 
      text-align: right; 
}

.current-user-items
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.current-user-items li
{
    list-style: none;
    float: left;
    border-left: 1px solid #bdd6e4;
    padding-left: 5px;
    margin-left: 5px;
}

.current-user-items li:first-child
{
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

#topmenucontainer 
{ 
    float: right;
    height: 40px; 
}

#topmenucontainer ul, #topmenucontainer li
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#topmenucontainer li 
{
    float: left;
    background: url(Canvas/Top-Menu-Bg.gif) bottom left no-repeat;
    padding: 0 0 6px 0;
    margin-left: 5px;
}
#header #topmenucontainer li a { 
    float: left;
    padding: 3px;
    width: 24px;
    height: 22px;
    overflow: hidden;
    text-align: center;
    
    -moz-transition: margin-top .25s ease-out; 
    -webkit-transition: margin-top .25s ease-out; 
    -o-transition: margin-top .25s ease-out; 
    transition: margin-top .25s ease-out;
}
#topmenucontainer li a:hover { margin-top: 4px; }

/*
#topmenucontainer li.menuItem1 a { background-position: 7px 3px; }
#topmenucontainer li.menuItem2 a { background-position: -31px 3px; }
#topmenucontainer li.menuItem3 a { background-position: -68px 3px; }
#topmenucontainer li.menuItem4 a { background-position: -106px 3px; }
#topmenucontainer li.menuItem5 a { background-position: -142px 3px; }
#topmenucontainer li.menuItem6 a { background-position: -180px 3px; }
#topmenucontainer li.menuItem7 a { background-position: -217px 3px; }
*/

#menucontainer 
{ 
    clear: both; 
}

#menucontainer ul, #menucontainer li
{ 
    list-style: none;
    padding: 0;
    margin: 0;
}

 #menucontainer li
 {
     float: left;
 }

#menucontainer ul li a  
{
    float: left;
    font-size: 1.2em; 
    text-decoration: none; 
    display: block; 
    padding: 14px 10px;
    border-top: 2px solid #3489BA;
    -webkit-transition:background-color 0.5s ease-out;   
    -moz-transition:background-color 0.5s ease-out;   
    -o-transition:background-color 0.5s ease-out;  
    transition:background-color 0.5s ease-out; 
}
#menucontainer ul li a:hover { background: #4b96c1; border-color: #529bc4; }
#menucontainer ul li.selected a { font-weight: bold; background: #5ca0c8; border-color: #63a4ca; }

#submenucontainer ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#submenucontainer { clear: both; padding: 15px 0; background: url(Canvas/Divider.gif) bottom left repeat-x; }
#submenucontainer li 
{ 
    margin: 0 20px 0 0; 
    list-style: none;
    padding: 0;
    float: left;
}
#submenucontainer li a { color: #dc7316; float: left; }
#submenucontainer li.selected a { color: #85bc65; font-weight: bold; }

#main { clear: both; }

#pageheader 
{ 
    padding: 10px 0; 
    border-bottom: 2px dotted #ccc;
}

#pageheader .title
{
    float: left;
}

#pageheader h2 
{ 
    margin: 0 0 3px 0; 
}

#pageheader .meta 
{
    margin: 0;  
}

#pageheader .search { float: right; }



.extra_padding { padding: 10px 10px 10px 10px !important; }
div.section:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

div.section 
{ 
    background-color: #fff;
    /*background: #fff url(Canvas/Divider.gif) top left repeat-x; */
    padding: 10px; 
    zoom: 1; 
}

div.list-actions
{
    background-color: #E3E9EC;
}

div.section .content { padding: 0px; }
div.section h2 { background: #e3e9ec; margin: 0; font-size: 13px; color: #848484; padding: 6px 10px; border-top: 2px solid #ecf0f2; }
div.highlight {
    background-image: url(Canvas/Highlight-Content.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}
div.section .contentTree { float: left; width: 100%; /*550px;*/ }
div.section .contentTreePreview { 
    float: right; width: 363px;  
}
.contentTreeContainer { background: url(Canvas/Divider.gif) 550px 0 repeat-y; }

input.button {
    padding: 0;
    margin: 0;
    border: 1px solid #818181;
    color: #fff;
    background: #266fa2 url(Canvas/Button-Highlight.gif) top repeat-x;
    font-size: 12px;
    line-height: 13px;
    padding: 3px 5px;
    font-family: Arial, Verdana;
    overflow: visible;
    cursor: pointer;
}
input.important { background-color: #dc6d00; background-position: 0 -198px; }

ul.tabs:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
ul.tabs, ul.tabs li { margin: 0; list-style-type: none; padding: 0; }
ul.tabs { zoom: 1; background: url(Canvas/Tabs-Bg.gif) top repeat-x; padding:0px 15px 0px 10px;height:45px;line-height:45px;}
ul.tabs li input{margin:9px 0 0 0;}
ul.tabs li a { display: block; padding: 10px; color: #747474; }
ul.tabs li.active a { background: #fff; color: #85bc65; font-weight: bold; }

.jstree-default a.noicon .jstree-icon
{
	background-image:none;
}

.jstree-default a.thickbox .jstree-icon
{
	background-image:none;
	padding:0px;
	margin:0px;
	width:0px;
}

/* form elements */
form td 
{
    padding: 3px;
    margin: 3px;
    vertical-align: top;
}
.inputGroupContainer 
{
	width:auto;
	clear:both;
	margin-bottom:25px;
}
.inputLabelContainer
{
}
.inputEditorContainer
{
	float:right;
}
.validationMessageContainer
{
	clear:right;
}
.crudFormContainer
{
	width:100%;
}
.commandButtonContainer
{
	clear:both;
}


.data_table
{
    width:100%;
    margin-bottom:0em !important;
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
    background-color: #fff;
}

.data_table thead th
{
    background:none no-repeat scroll 0 0 #D8E0E3;
    border-right: 2px solid white;
    color:#848484;
    padding:8px;
    padding-right:20px;
    text-align:left;
 }
 
 .data_table thead th:last-child, .data_table tbody td:last-child
 {
     border-right: 0;
 }
 
.data_table tfoot td
{
    background:none no-repeat scroll 0 0 #BFCCD4;
    border-top:2px solid #ECF0F2;
    padding:8px;
    text-align:right;
 }

.data_table tbody td 
{
    padding:8px;
    background-color: #fff;
    border-right: 2px solid white;
}

.data_table tbody tr:nth-child(even)  td
{
    background-color: #f7f7f7;
}

.data_table tbody tr:hover td
{
    background-color: #E8ECED;
}


.data_table tr.odd{background:#F7F7F7;}

.data_table td.actions{width:185px;text-align:right;}

.data_table thead tr {background-image: url();background-repeat: no-repeat;background-position: center right;cursor: pointer;}
.data_table thead tr .headerSortUp {background-position: center right;background-image: url(/Content/Canvas/asc.gif);background-color: #BDCBD2 !important;color:#636363 !important;}
.data_table thead tr .headerSortDown {background-position: center right;background-image: url(/Content/Canvas/desc.gif);background-color: #BDCBD2 !important;color:#636363 !important;}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {background-color: #F2F2F2;}

/* thickbox: */
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}
#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
  background-color:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  color:#000000;
  display:none;
  border: 4px solid #525252;
  text-align:left;
  top:50%;
  left:50%;
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}
#TB_closeWindow{
  height:25px;
  padding:11px 25px 10px 0;
  float:right;
}
#TB_closeAjaxWindow{
  padding:7px 10px 5px 0;
  margin-bottom:1px;
  text-align:right;
  float:right;
}
#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
}
#TB_title{
  background-color:#e8e8e8;
  height:27px;
}
#TB_ajaxContent{
  clear:both;
  padding:2px 15px 15px 15px;
  overflow:auto;
  text-align:left;
  line-height:1.4em;
}
#TB_ajaxContent.TB_modal{
  padding:15px;
}
#TB_ajaxContent p{
  padding:5px 0px 5px 0px;
}
#TB_load{
  position: fixed;
  display:none;
  height:13px;
  width:208px;
  z-index:103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
  z-index:99;
  position:fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height:100%;
  width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
}
#footer
{
	margin-top:30px;
}

.pagination 
{
    float: right;
}
.PagedList-pager
{
    float: left;
    vertical-align: top;
    margin: 0 5px;
}

.PagedList-pager > ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.PagedList-pager > ul > li.PagedList-skipToPage {
	display: inline-block;
	border-left: 1px solid #747474;
	padding: 0 5px;
	
}

.PagedList-pager > ul > li
{
    list-style: none;
    display: inline-block;
}

.PagedList-pager .PagedList-skipToPrevious, .PagedList-pager .PagedList-skipToNext
{
    margin-left: 5px;
}

.iterative-paging
{
    float: right;
}

/*.PagedList-disabled.PagedList-skipToFirst { display: none !important; }
.PagedList-disabled.PagedList-skipToPrevious { display: none !important; }
.PagedList-disabled.PagedList-skipToLast { display: none !important; }
.PagedList-disabled.PagedList-skipToNext { display: none !important; }*/

.PagedList-disabled a, .PagedList-disabled a:hover
{
    text-decoration: none;
    color: #747474;
}

.page-view-option 
{
    float: left;
}

.next-page
{
    float: right;    
}

.console button 
{
    padding: 1px 6px;
}
.console td 
{
    padding: 3px;
}

input.textfield 
{
    width: 150px;
}

input.datefield
{
    width: 75px;
}

.searchForm 
{
    float: right;
}

.searchForm .field
{
    float: left;
    margin-right: 5px;
}

.searchForm label
{
    line-height: 27px;
}

.searchForm input
{
    height: 25px;
    padding: 0 3px;
    vertical-align: top;
}

 .searchForm select
 {
     height: 27px;
    padding: 3px;
     vertical-align: top;
 }