<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bennington.ContentTreeSectionNodeProvider.Properties.Settings.BenningtonConnectionString"
            connectionString="Data Source=DEGWLUCASF1\sqlexpress;Initial Catalog=Bennington;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bennington.ContentTree.SectionNodeProvider.Properties.Settings.BenningtonConnectionString"
            connectionString="Data Source=DEGWLUCASF1\sqlexpress;Initial Catalog=Bennington;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bennington.ContentTree.SectionNodeProvider.Properties.Settings.BenningtonConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Bennington;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>