<appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Bennington.LocalWorkingFolder" value="C:\_Application\Bennington\localWorkingFolder\"/>
</appSettings>